<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cahum.mentor">

    <application
            android:allowBackup="true"
            android:icon="@drawable/icono"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PerfilCliente">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChatLogActivity"/>
        </activity>
        <activity android:name=".CalendarioActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MenuActivity"/>
        </activity>
        <activity android:name=".ChatLogActivity"  android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MenuActivity"/>
        </activity>
        <activity android:name=".PerfilActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MenuActivity"/>
        </activity>
        <activity android:name=".NuevosClientesActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MenuActivity"/>
        </activity>
        <activity android:name=".MenuActivity">
        </activity>
        <activity android:name=".IniciarSesionActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".InicioActivity"/>
        </activity>
        <activity android:name=".RegistrarActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".InicioActivity"/>
        </activity>
        <activity android:name=".InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>